#canvas {
/*    border: dashed 1px black; */
}

.fullscreen {
    cursor: none;
}

.turnCW {
    transform: rotate(90);
    -webkit-transform: rotate(90);
    -o-transform: rotate(90);
    -moz-transform: rotate(90);
    -ms-transform: rotate(90);
}

@font-face {
    font-family: "Minecrafter";
    src: url("../Assets/font/Minecrafter.Reg.ttf") format("truetype");
}

body {
    font-family: "Minecrafter";
    font-size: 24pt;
    color: red;
}

